In [4]:
# 6*3                         #  pound sign ,    str
a = "Hi how are  you"
print(a)
print(type(a))

Hi how are  you
<class 'str'>

In [3]:
num1 = 100                    #int
num2 = 200
print(num1*num2)
print(type(num1*num2))

20000
<class 'int'>

In [5]:
Hari = "Brother creating mess"          #str
print(Hari)
print(type(Hari))

Brother creating mess
<class 'str'>

In [6]:
B = """ hey your are learning python programme ,thats great """      #str
print(B)
print(type(B))

 hey your are learning python programme ,thats great
<class 'str'>

In [ ]:
''' yeah python will help to my carrer to switch for best      # comment for mulitple lines single codes 
may it will take lots of 
time to learn but trust me it`s worth'''

In [7]:
a = 'nice'                                         # str , int , complex
b = 'joke '
print(a,b)
print(type(a))
c = '345'
print(type(c))
d = 143
print(type(d))
print(d*c)
z = 3+5j
print(type(z))

nice joke
<class 'str'>
<class 'str'>
<class 'int'>
345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345345
<class 'complex'>

In [8]:
a = 3.0                                             #float
b = 4.2
print(a)
print(type(a))
print(a*b)

3.0
<class 'float'>
12.600000000000001

In [9]:
a = ["Apple","Orange","kiwe"]                           # list , tuple , set
print(type(a))
print(a)
b = ('school','bus','class')
print(b)
print(type(b))
c = {"love","Affection","lust"}
print(c)
print(type(c))

<class 'list'>
['Apple', 'Orange', 'kiwe']
('school', 'bus', 'class')
<class 'tuple'>
{'love', 'Affection', 'lust'}
<class 'set'>

In [11]:
a = 200                            # memorey location id()        int
print(id(a))
print(type(id(a)))

2957549658768
<class 'int'>

In [12]:
import sys                  # size of the line or length 
b = 200
print(sys.getsizeof(B))

102

In [13]:
import keyword                                    #  python key words
print(keyword.kwlist)                             #total 35 words

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
'''                                               # comment for multiple lines
Hey
man
how 
did
you acheive
'''
80*2

In [ ]:
input( )                                              # input()

In [ ]:
name = input("name: ")
age = int( input("age: "))
salary = float( input("salary: "))

In [ ]:
name = input("name: ")
age = input("age: ")
salary = input("salary: ")
education = input("education: ")
hobbies = input("hobbies: ")
strength = input("strength: ")